/ejercicio4/nbproject/private/
/ejercicio4/build/
/ejercicio3b/nbproject/private/
/ejercicio3b/build/
/ejercicio6/nbproject/private/
/ejercicio6/build/
/tadListaConArreglos/nbproject/private/
/tadListaConArreglos/build/
/borrar/nbproject/private/
/paretensisBalanceados/nbproject/private/
/ejercicio14/nbproject/private/
/ejercicio14/build/
/Calculadora/nbproject/private/
/Calculadora/build/
/test/nbproject/private/
/test/build/
/interfaz/nbproject/private/
/operaciones/nbproject/private/
/operaciones/build/
/PruebaInterfaces/nbproject/private/
/PruebaInterfaces/build/
/ColaConListaEncadenada/nbproject/private/
/ColaConListaEncadenada/build/
/ColeccionesB/nbproject/private/
/ColeccionesB/build/
/Cola/nbproject/private/
/Pila/nbproject/private/
/Cola/build/
/Palindromo/nbproject/private/
/Cola/dist/
/Pila/build/
/Pila/dist/
/Palindromo/build/
/Palindromo2/nbproject/private/
/Balanceado/nbproject/private/
/Balanceado/build/
/ListaCircular(Ej12)/nbproject/private/
/ListaCircular/nbproject/private/
/ListaCircular/build/