/ejercicio4/nbproject/private/
/ejercicio4/build/
/ejercicio3b/nbproject/private/
/ejercicio3b/build/
/ejercicio6/nbproject/private/
/ejercicio6/build/
/tadListaConArreglos/nbproject/private/
/tadListaConArreglos/build/
/borrar/nbproject/private/
/paretensisBalanceados/nbproject/private/